.NavigationBar {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 13px 58px;
  background-color: #000000;
  color: #ffffff;
}

.NavigationBar span {
  font-size: 18px;
  font-weight: bold;
}
